#navbar {
  width: 100%;
}
.navbar__title {
  font-size: 36px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: $color-primary;
}
.navbar__list {
  background-color: $color-primary;
  list-style: none;
  height: 300px;
  overflow-y: scroll;
  &--element {
    border-bottom: 2px white solid;
    padding: 16px 30px;
    height: 60px;
  }
}
.nav-link {
  text-decoration: none;
  color: white;
}
