.navbar__title {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
.navbar__list {
  background-color: black;
  list-style: none;
  width: 100%;
  &--element {
    border-bottom: 2px white solid;
    padding: 16px 20px;
    height: 60px;
  }
}
.nav-link {
  text-decoration: none;
  color: white;
}
